/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'paperboard';
  src: url('fonts/paperboard.eot?m8gui2');
  src: url('fonts/paperboard.eot?m8gui2#iefix') format('embedded-opentype'), url('fonts/paperboard.ttf?m8gui2') format('truetype'), url('fonts/paperboard.woff?m8gui2') format('woff'), url('fonts/paperboard.svg?m8gui2#paperboard') format('svg');
  font-weight: normal;
  font-style: normal;
}
.pb-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'paperboard' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.pb-icon--reddit:before {
  content: "\e900";
}
.pb-icon--rss:before {
  content: "\e901";
}
.pb-icon--add:before {
  content: "\e902";
}
.pb-icon--github:before {
  content: "\e903";
}
.pb-icon--delete:before {
  content: "\e905";
}
.pb-icon--arrow-left:before {
  content: "\e906";
}
.pb-icon--arrow-right:before {
  content: "\e907";
}
.pb-icon--newspaper:before {
  content: "\e908";
}
.pb-icon--twitter:before {
  content: "\e909";
}
.pb-icon--facebook:before {
  content: "\e90a";
}
.pb-icon--info:before {
  content: "\e90f";
}
.pb-icon--not-saved:before {
  content: "\e8e7";
}
.pb-icon--saved:before {
  content: "\e8e6";
}
.pb-icon--settings:before {
  content: "\e8b8";
}
.pb-icon--not-faved:before {
  content: "\e87e";
}
.pb-icon--faved:before {
  content: "\e87d";
}
.pb-icon--user:before {
  content: "\e7f2";
}
.pb-icon--more:before {
  content: "\e5d4";
}
.pb-icon--palette:before {
  content: "\e40a";
}
.pb-icon--menu:before {
  content: "\e3c7";
}
.pb-icon--edit:before {
  content: "\e150";
}
.pb-icon--archive:before {
  content: "\e149";
}
.pb-icon--mark-read:before {
  content: "\e065";
}
.pb-icon--share:before {
  content: "\e80d";
}
* {
  outline: none;
  box-sizing: border-box;
}
body,
html,
#app,
.app {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, sans-serif;
  height: 100%;
  width: 100%;
  overflow: auto;
}
.topbar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50px;
  background-color: white;
  z-index: 990;
  box-shadow: 1px 0 0 rgba(0, 0, 0, 0.1);
  text-align: center;
}
.topbar > h1 {
  font-family: 'Roboto Slab', 'Roboto', sans-serif;
  color: #6c616a;
  padding: .7em .25em;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}
.topbar__add-col {
  top: 9px;
  right: 15px;
  border: none;
  font-size: 1.5em;
  font-weight: 300;
  background-color: #03aa67;
  color: white;
  padding: .2em .2em;
  text-transform: uppercase;
  letter-spacing: .03em;
  border-radius: 3px;
  cursor: pointer;
  transition: all 200ms linear;
}
.topbar__add-col:hover {
  box-shadow: 0 0.1em 4px rgba(0, 0, 0, 0.3);
}
.desktop {
  position: fixed;
  left: 50px;
  top: 0;
  bottom: 0;
  width: 100%;
  padding: 1em 0;
  background-color: #d2c7d0;
  overflow-x: auto;
  display: flex;
  align-items: flex-start;
}
.column-wrap {
  height: 100%;
  padding: 0 1.2em;
}
.column-wrap + .column-wrap {
  padding-left: 0;
}
.column {
  height: 100%;
  min-height: 100%;
  display: inline-block;
  position: relative;
  width: 28%;
  min-width: 300px;
  max-width: 500px;
  background-color: white;
  vertical-align: top;
  overflow: hidden;
  border-radius: 2px;
  box-shadow: 0 0.1em 5px rgba(0, 0, 0, 0.3);
}
.column--add {
  width: 250px;
  min-width: 250px;
  box-shadow: none;
  border: none;
  background: transparent;
}
.column--add .hidden {
  opacity: 0;
  visibility: hidden;
}
.column__header {
  background-color: #e7e2e6;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  height: 50px;
  padding: 0 1em 0 .8em;
  font-family: 'Roboto Condensed', 'Roboto', sans-serif;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.column__header .column__header__icon {
  display: inline-block;
  font-size: 1.3em;
  padding-right: .5em;
  color: rgba(108, 97, 106, 0.95);
}
.column__header h3 {
  font-weight: bold;
  font-size: 1.3em;
  color: #6c616a;
  display: inline-block;
}
ul.column__items {
  overflow-y: auto;
  position: absolute;
  top: 50px;
  bottom: 0;
  width: 100%;
}
ul.column__items li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: .5em .8em;
  transition: background-color 150ms ease-in-out;
}
ul.column__items li a {
  text-decoration: none;
  color: #666666;
  display: block;
  font-size: .9em;
  line-height: 1.5em;
}
ul.column__items li a:visited {
  color: #a6a6a6;
}
ul.column__items li:hover {
  background-color: #f3f0f2;
}
ul.column__items li:hover a {
  color: black;
}
.modal {
  position: fixed;
  z-index: 9999;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  visibility: hidden;
}
.modal__fade {
  height: 100%;
  width: 100%;
  background-color: rgba(108, 97, 106, 0.8);
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  overflow-y: auto;
  opacity: 0;
  transition: all 500ms ease-in-out;
}
.modal__container {
  background: white;
  border-radius: 3px;
  max-width: 95%;
  box-shadow: 0 0.1em 5px rgba(0, 0, 0, 0.3);
  opacity: 0;
  margin-top: -9999px;
  transition: all 800ms ease-in-out;
}
.modal.show {
  visibility: visible;
}
.modal.show .modal__fade {
  opacity: 1;
}
.modal.show .modal__container {
  opacity: 1;
  margin-top: 0;
}
.add-col-form {
  padding: 1em;
  width: 450px;
}
.add-col-form h2 {
  font-size: 1.5em;
  font-weight: 300;
  text-align: center;
  margin: .5em 0 1em 0;
  color: #6c616a;
}
.add-col-form .form-field {
  width: 100%;
  margin-bottom: 1.3em;
}
.add-col-form .form-field > input {
  display: block;
  width: 100%;
  border: none;
  border: 2px solid #DDD;
  font-size: 1.1em;
  padding: .6em 1em;
  border-radius: 4px;
  transition: border 200ms linear;
}
.add-col-form .form-field > input:focus {
  border-color: #9f949d;
}
.form-buttons {
  padding: .5em 0;
  text-align: center;
}
.form-buttons .btn + .btn {
  margin-left: 1em;
}
.btn {
  font-size: .95em;
  border: none;
  border-radius: 3px;
  padding: .7em 1.5em;
  cursor: pointer;
  border: 1px solid transparent;
}
.btn--link {
  background: transparent;
  color: #6c616a;
  transition: all 200ms ease-in;
}
.btn--link:hover {
  border-color: rgba(0, 0, 0, 0.1);
}
.btn--link:active {
  background-color: rgba(0, 0, 0, 0.1);
}
.btn--primary {
  background-color: #03aa67;
  color: white;
  transition: all 200ms ease-in-out;
}
.btn--primary:hover {
  box-shadow: 0 0.1em 4px rgba(0, 0, 0, 0.4);
}
.btn--primary:active {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3) inset;
}
